
.textos2 {
    font-weight:bold !important;
}

.imagem2 {
    background-image: url( );
    background-repeat: 'no-repeat';
    width:100vh; 
    min-height: 100vh;
    background: cover;
    background-position: center;
}

.btnCancelar {
    margin-right: 20px !important;
}
